<html>

<head>
    <meta charset="UTF-8">
    <title>Gamebook | Mario Game</title>
    <link rel="stylesheet" href="/static/css/mario.css">
    <script defer src="/static/js/mario.js"></script>
</head>

<body>


    <a id="back" href="/users/<%=fullId%>">
        <button><i id="arrow" class="bi bi-arrow-left"></i>Back to main page</button>
    </a>

    <div id="middle">
        <canvas></canvas>
    </div>


</body>

</html>