@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Pacifico&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

body {
    background: url("../images/sky.png") fixed center/cover no-repeat;
    font-family: Glory;
    font-weight: Bold;
    margin: 0;
}

input, button {
    border: none;
}

img {
    max-width: 50%;
    min-width: 60px;
}

input:focus, button:focus {
    outline: 0;
}

button:hover {
    box-shadow: 0 0 0.625em 0.125em white;
}

input {
    font-size: 1.5rem;
    padding-left: 0.625em;
    color: rgb(233, 162, 158);
    background: rgba(253, 253, 253, 0.6);
    border-radius: 2em;
    width: 8em;
    height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-shadow: 0 0 10px coral;
    color: white;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 5%;
    margin-top: 10px;
}

.postcontent {
    margin-top: 30px;
}

.postcontent img {
    padding: 10px;
    box-shadow: 0 0 2px 2px black;
}

.postframe {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    transform: translateX(100px);
    opacity: 0;
    transition: 150ms;
    background-color: white;
    margin-bottom: 10%;
    padding: 3%;
    min-height: 300px;
}

.maincontent {
    display: flex;
    justify-content: space-between;
}

.post {
    height: fit-content;
    width: 70%;
}

#middle, #trueleft, #trueright, #name {
    position: sticky;
    position: -webkit-sticky;
}

#middle {
    margin-top: 10%;
    width: 100%;
    height: 60vh;
    background: rgba(241, 239, 239, 0.8);
    border-radius: 3em;
    text-align: left;
    padding: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#truemiddle {
    margin-right: 15%;
    width: 30%;
    margin-top: 0px;
}

.postframe.show {
    transform: translateX(0);
    opacity: 1;
}

.allcomments {
    min-height: 200px;
    max-height: 320px;
    overflow-y: scroll;
    margin-top: 20px
}

.newcomment {
    box-shadow: 0 0 3px 2px black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px
}

.comments {
    width: 30%;
}

.actions {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    z-index: 1000;
    background-color: coral;
    color: white;
    font-size: 3rem;
}

#field {
    text-align: center;
    font-weight: bolder;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 0.5em;
}

#field button {
    font-size: 1.5rem;
    color: white;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
}

.postfield {
    width: 100%;
    height: 200px;
    resize: none;
    font-family: Poppins;
    font-weight: bold;
    padding: 7px;
    border: none;
    border-radius: 5px;
    font-size: 1.15rem;
}

.postfield:focus {
    outline: none;
}

.commentfield {
    width: 100%;
    height: 10em;
    resize: none;
    font-family: Poppins;
    font-weight: bold;
    padding: 7px;
    border: none;
    box-shadow: 0 0 2px 2px black;
    border-radius: 5px;
    font-size: 1.15rem;
}

.like {
    background-color: cornflowerblue;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.commentfield:focus {
    outline: none;
}

.comments h2 {
    text-align: center;
}

.photo {
    border-radius: 10%;
}

#likes {
    display: flex;
    justify-content: space-between;
}

.buttons {
    width: 90%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 5%;
}

.buttons span {
    font-size: 1.5rem;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.buttons button {
    font-family: Glory;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
    border: none;
    width: 10%;
    min-width: 70px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(118, 194, 220);
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0px;
    height: 0px;
}

.buttons input:hover {
    cursor: default;
}

.buttons button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 2px 2px white;
}

#trueright {
    width: 15%;
    margin-right: 5%;
}

#mouseeffects {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(241, 239, 239, 0.8);
    border-radius: 2em;
    margin-bottom: 50px;
    max-width: 175px;
    min-width: 100px;
}

.effects {
    border-radius: 10%;
    background-color: cornflowerblue;
    color: white;
    font-family: Glory;
    font-weight: bold;
    font-size: 1rem;
    min-width: 30px;
    max-width: 60%;
    height: fit-content;
    padding: 0.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logout {
    min-width: none;
    max-width: 10%;
}

.points {
    color: rgb(83, 147, 169);
    font-weight: bold;
}

#change {
    background: rgba(253, 253, 253, 0.6);
    border-radius: 50px;
    width: max-content;
    height: max-content;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50%;
    margin-top: 20px;
    position: sticky;
    position: -webkit-sticky;
}

#back {
    background: rgba(253, 253, 253, 0.6);
    border-radius: 100px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-self: center;
}

#arrow {
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding-right: 10px;
}

#back button {
    font-family: Poppins;
    font-weight: bold;
    margin: 12px;
    padding: 5px;
    color: white;
    font-size: 1.25rem;
    border-radius: 50px;
    background-color: limegreen;
    width: max-content;
}

#back button:hover {
    cursor: pointer;
}

#container {
    margin-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    height: max-content;
}

#name {
    user-select: none;
    text-align: center;
    font-family: Pacifico;
    font-size: 6rem;
    color: #fda1ae;
}

#refresh:hover {
    box-shadow: none;
    cursor: pointer;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    background: rgba(241, 239, 239, 0.8);
    border-radius: 3em;
    padding: 2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
    max-height: max-content;
    margin-top: 20vh;
    overflow-y: visible;
}

.sticky {
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 500;
}

#trueleft {
    width: 30%;
    margin-right: 10%;
    height: max-content;
}

#right {
    text-align: left;
    background: rgba(241, 239, 239, 0.8);
    border-radius: 3em;
    padding: 5%;
    width: 100%;
    height: 50vh;
    margin-bottom: 100px;
}

#trueright {
    width: 15%;
    margin-right: 5%;
}

#userdiv {
    background: rgba(241, 239, 239, 0.8);
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    min-height: 20%;
    max-height: max-content;
    padding: 1em;
    margin-top: 5%;
    min-width: 100px;
    max-width: 300px;
}


#mouseeffects {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(241, 239, 239, 0.8);
    border-radius: 2em;
    margin-bottom: 50px;
    max-width: 175px;
    min-width: 100px;
}

.filepond {
    height: 150px;
}

.userprofile {
    display: flex;
    justify-content: space-between;
    min-width: max-content;
    width: 10%;
}

#profile {
    display: flex;
    width: max-content;
}

::-webkit-scrollbar {
    display: none;
}

